@use 'variables' as V;

// glass section
main{
    margin-inline: 5%;
    a{
        text-decoration: none;
    }

    @media (max-width: V.$mobile) {
    }
}

.text-heading{
    margin-top: 2rem;
}

