*{
    margin: 0;
    padding: 0;
    text-transform: capitalize;
}

*,*::before,*::after{
    box-sizing: border-box;
}


img, video{
    display: block;
    max-width: 100%;
    height: auto;
}

*.love{
    margin-bottom: 20px;
}

